@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lexend+Peta&family=Mirza&family=Shrikhand&family=Source+Code+Pro&family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nanum+Gothic+Coding&family=Nova+Mono&family=Pompiere&family=Share+Tech+Mono&family=VT323&display=swap');

/*
h1 =
    font-family: 'Ysabeau', sans-serif;
    color: var(--darkestPink);
    font-size: 4vh;

subtitulo =
    color: var(--darkestPink);
    font-family: 'Share Tech Mono', monospace;
    font-size: 2vh;

#subDiv p{
    color: var(--darkPink);
    font-family: 'VT323', monospace;
    padding-top: 10%;
}
*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --ligthestPink: #faf5f9;
    --lightPink: #f6ecf3;
    --mediumPink: #eedce9;
    --darkPink: #d2a3c4;
    --darkestPink: #b15f99;
    --lightBlue: #dcfaf9;
    --muggy: #9cadad; 
}

html{
    scroll-behavior:smooth;
}

#initMainDiv{
    height: 100vh;
    width: 100vw;
    background-color: var(--lightPink);
}

/* section one */ 
#secOneDiv{
    width: 100vw;
    height: 100vh;
    background-color: var(--lightPink);
    display: grid;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

#imgDiv{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
}

#mainTextDiv{
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

h1{
    font-family: 'Ysabeau', sans-serif;
    color: var(--darkestPink);
    font-size: 4vh;
}

#mainTextDiv p {
    color: var(--darkestPink);
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.2vh;
    
}

#subDiv{
    grid-row-start: 2;
    grid-column-start: 3;
    color: var(--darkPink);
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 2.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width:1350px){
    h1{
        font-size: 3.5vh;
    }

    #mainTextDiv{
        align-items: center;
    }
}

@media screen and (max-width:1100px){
    #secOneDiv{
        grid-template-columns: 5% auto 5%;
    }

    #mainTextDiv{
        grid-row-start: 1;
        grid-column-start: 2;

        align-items: center;
    }

    #mainTextDiv h1, #mainTextDiv p{
        text-align: center;
    }

    #subDiv{
        grid-row-start: 3;
        grid-column-start: 2;
        justify-content: flex-start;
        align-items: center;
    }

}

/* section two */ 
#secTwo{
    width: 100vw;
    height: 99vh;
    background-color: white;
}

/* nav div and button code */
#navDiv{
    width: 100%;
    height: 5.5vh;
    margin-top: 2.5vh;
    display: grid;
    grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) 
    calc(100%/7) calc(100%/7) calc(100%/7);
}

#navBtnDiv1{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

#navBtnDiv2{
    grid-column: 3;
    display: flex;
    justify-content: center;
}

#navBtnDiv3{
    grid-column: 4;
    display: flex;
    justify-content: center;
}

#navBtnDiv4{
    grid-column: 5;
    display: flex;
    justify-content: center;
}

#navBtnDiv5{
    grid-column: 6;
    display: flex;
    justify-content: center;
}

/* nav mediaquery */
@media screen and (max-width:1550px){
    #navDiv{
        width: 100%;
        height: 7vh;
        margin-top: 1vh;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) 
        calc(100%/7) calc(100%/7) calc(100%/7);
    }
    #navBtnDiv1{
        grid-column: 2;
        display: flex;
        justify-content: center;
    }
    
    #navBtnDiv2{
        grid-column: 3;
        grid-row: 2;
        display: flex;
        justify-content: center;
    }
    
    #navBtnDiv3{
        grid-column: 4;
        display: flex;
        justify-content: center;
    }
    
    #navBtnDiv4{
        grid-column: 5;
        grid-row: 2;
        display: flex;
        justify-content: center;
    }
    
    #navBtnDiv5{
        grid-column: 6;
        display: flex;
        justify-content: center;
    }
}

.navBtn{
    background: none;
    border: none;
    color: var(--lightPink);
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.3vh;
    position: relative;
    transition: 0.85s ease-out;
}

.navBtn:hover, .navBtn:active{
    color: var(--darkestPink);
}

.navBtn::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--darkestPink);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navBtn:hover::after, .navBtn:active::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width:625px) {
    .navBtn{
        font-size: 1.9vh;
    }
}
/* end of button*/


#switchContainer{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchDiv{
    width: 85%;
    height: 85%;
    background-color: var(--lightPink);
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.switchDiv::-webkit-scrollbar{
    width: 5px;
}

#whoText{
    width: 85%;
    text-align: justify;
}

#whoText p{
    font-family: 'Ysabeau', sans-serif;
    color: var(--darkestPink);
}

