@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;500&family=Roboto+Flex:wght@100;200;300;400;500&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

cores:
#a54688 - escuro
#d0adc3 - medio
#eedce8 - claro
#f0f0f0 - cinza neutro

*/

html, body {
    margin: 0%;
    padding: 0;
    background-color: #eedce8;
}

.nav {
    display: flex;
    height: 45px;
    background-color: #a54688;
    justify-content: space-evenly;
    padding-bottom: 1px;
    box-shadow: 3px 3px 0.4em 0.003em #ed8975;
    
}

.navContent {
    text-decoration: none;
    color: inherit;
    color: #eedce8;
    font-size: 1.0em;
    font-family: 'Noto Serif Georgian';
}

.divNav {
    padding-top: 12px;
    margin-bottom: 1px;

}

.banner {
    height: 220px;
    width: 100%;
    display: flex;
}

.title {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-size: 3.0em;
    font-family: 'Urbanist';
    font-weight: 400;
    text-align: center;
    clear: left;
    text-shadow: 2px 2px 0.04em #ed8975; 
    color:#304d63;
}

.mold {
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    color: white;
    box-shadow: 3px 3px 0.4em 0.003em #ed8975;
}

.content{
    width: 98%;
    margin-left: 1%;
    padding-top: 12px;
    background-color: white;
    border-radius: 1.5em;
    box-shadow: 3px 3px 0.4em 0.003em #ed8975;
}

.contentTwo {
    width: 96%;
    margin-left: 2%;
}

h2 {
    font-family: 'Roboto Flex';
    font-size: 1.5em;
    color: #304d63;
    margin-left: 6px;
}

.aba {
    width: 98%;
    margin-left: 1%;
    background-color: #f0f0f0;
    padding-bottom: 200px;
    border-radius: 1.2em;
    margin-bottom: 3px;
}


@media (min-width: 1080px) {

    .nav, .banner, .content  {
        width: 80%;
        margin-left: 10%;
    }

    .nav {
        border-radius: 1.2em;
    }

}

@media (max-width: 820px) {

    .navContent {
        font-size: 12px;
    }

}

@media (max-width: 590px) {


    .queryBlock {
        display: inline-block;
    }

}